name: motbxtools

on:
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
        run:
          shell: bash -l {0}

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniforge-variant: Mambaforge
          channels: conda-forge
          python-version: ${{ matrix.python-version }}
          activate-environment: motbxtools
          environment-file: envs/motbxtools.yml
          use-mamba: true

      - name: Build environment
        run: |
          conda activate motbxtools
          python -m ipykernel install --user --name motbxtools
          python -m pip install -e .

      - name: Test with pytest
        run: |
          pytest