name: motbxtools_tests

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
        run:
          shell: bash -l {0}

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniforge-variant: Mambaforge
          channels: conda-forge
          python-version: ${{ matrix.python-version }}
          activate-environment: motbxtest_and_doc
          environment-file: envs/motbxtest_and_doc.yml
          use-mamba: true

      - name: Build environment
        run: |
          conda activate motbxtest_and_doc
          python -m pip install -e .

      - name: Run unit tests
        run: |
          pytest
